<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Autofac" version="3.5.2" targetFramework="net40" />
  <package id="Autofac.Extras.DynamicProxy2" version="3.0.7" targetFramework="net40" />
  <package id="AutoMapper" version="3.3.1" targetFramework="net40" />
  <package id="Castle.Core" version="3.2.2" targetFramework="net40" />
  <package id="Microsoft.Bcl" version="1.1.8" targetFramework="net40" />
  <package id="Microsoft.Bcl.Async" version="1.0.168" targetFramework="net40" />
  <package id="Microsoft.Bcl.Build" version="1.0.14" targetFramework="net40" />
  <package id="Microsoft.Net.Http" version="2.0.20710.0" targetFramework="net40" />
  <package id="Microsoft.Windows.Shell" version="3.0.1.0" targetFramework="net40" />
  <package id="Panuon.UI.Silver" version="1.0.9.4" targetFramework="net40" />
  <package id="PostSharp.Redist" version="6.6.6" targetFramework="net40" />
  <package id="System.Net.Http" version="2.0.20710.0" targetFramework="net40" />
  <package id="Unity" version="5.4.0" targetFramework="net40" />
</packages>